# ☕ Maven Roasters Data Analytics Project

**Dataset Source**: [Kaggle - Coffee Shop Sales & Revenue Data](https://www.kaggle.com/datasets/agungpambudi/trends-product-coffee-shop-sales-revenue-dataset)

## 📝 Project Overview

This project explores transactional sales data from Maven Roasters, a fictional NYC-based coffee shop with three locations. The dataset includes detailed records such as transaction timestamps, products sold, store locations, and prices.

The goal is to uncover actionable insights through data analytics to support decision-making in marketing, inventory, and operations.

## 🎯 Objectives

- Identify best-selling and most profitable products.
- Find out who the best clients are (e.g., loyal or high-spending).
- Analyze the impact of discounts on revenue and customer count.
- Discover optimal times to sell coffee (seasons, days of the week, times of day).
- Compare store performance by location.
- Recommend strategies to boost sales and efficiency.

## 🔍 Key Questions

- What are the top products in terms of sales and revenue?
- Which customers generate the most value?
- What happens to sales when a discount is applied?
- What is the best time/day/season to sell coffee?
- Which store performs best and why?

## 🛠️ Tools

- Python (Pandas, Seaborn, Matplotlib, Scikit-learn)
- SQL
- Tableau / Power BI
- Jupyter Notebook
- Excel

---

In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [7]:
coffee = pd.read_csv('/Users/victorhugo/Documents/Data Science/Project_Git/coffee_data/coffee-shop-sales-revenue.csv',sep = '|')

In [8]:
coffee.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [9]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 12.5+ MB

In [16]:
# Getting how many locations (stores) and how many products

unique_locations = coffee['store_id'].unique()
print( " Unique store locations: ",unique_locations)
print( " Number of store locations: ",len(unique_locations))

print( " ------------------------------------ \n ")

unique_products = coffee['product_type'].unique()
print(" Which products the retailer sells: ",unique_products)
print(" How many different products: ", len(unique_products))


# So there are 29 products sold in 3 stores.

# All products are sold in each store ?

 Unique store locations:  [5 8 3]
 Number of store locations:  3
 ------------------------------------

 Which products the retailer sells:  ['Gourmet brewed coffee' 'Brewed Chai tea' 'Hot chocolate' 'Drip coffee'
 'Scone' 'Barista Espresso' 'Brewed Black tea' 'Brewed Green tea'
 'Brewed herbal tea' 'Biscotti' 'Pastry' 'Organic brewed coffee'
 'Premium brewed coffee' 'Regular syrup' 'Herbal tea' 'Gourmet Beans'
 'Organic Beans' 'Sugar free syrup' 'Drinking Chocolate' 'Premium Beans'
 'Chai tea' 'Green beans' 'Espresso Beans' 'Green tea' 'Organic Chocolate'
 'Housewares' 'Black tea' 'House blend Beans' 'Clothing']
 How many different products:  29

In [24]:
# Finding the best selling products. First by all 3 stores, then sorted by store 

coffee['total_price'] = coffee['transaction_qty']*coffee['unit_price']
top_products_by_revenue = (
    coffee.groupby('product_category')['total_price']
    .sum()
    .sort_values(ascending = False )
)

print(top_products_by_revenue)

product_category
Coffee                269952.45
Tea                   196405.95
Bakery                 82315.64
Drinking Chocolate     72416.00
Coffee beans           40085.25
Branded                13607.00
Loose Tea              11213.60
Flavours                8408.80
Packaged Chocolate      4407.64
Name: total_price, dtype: float64

In [ ]:
# Let's Plot it